.parents {
  width: 100%;
  background:  var(--white-color);
}

.parents__section1 {
  width: 100%;
  padding: 0 6.25rem;
  .parents__section1-article {
    flex: 1;
    h1 {
      width: 35.5rem;
      margin-bottom: 24px;

      span {
        color: var(--secondary-color);
      }
    }

    p {
      width: 31.5rem;
      margin-bottom: 3.25rem;
      text-align: justify;
    }

    button {
      width: 10.75rem;
      height: 3.875rem;
    }
  }

  .parents__section1-div {
    flex: 1;
    width: 37rem;
    height: 53rem;
  }
}

.parents__activities {
  width: 100%;
  padding: 0 6.25rem;

  .parents__activities-img {
    width: 30.3rem;
    height: 52.438rem;
  }

  .parents__activities-article {

    .arctivities-cap {
      width: 38rem;
      height: 3.5rem;
      border-radius: 0.625rem;
      background-color: #d9d9d9;
      margin-bottom: 1.125rem;
    }

    h3 {
      max-width: 26.6rem;
      margin-bottom: 1.5rem;
    }

    p {
      width: 38rem;
      text-align: justify;
    }
  }
}

.parents__progress {
    width: 100%;
    padding: 0 6.25rem;

    h2 {
        width: 80%;
        text-align: center;
        margin-bottom: 62px;
    }

    div {
        width: 90%;
        height: 35.6rem;
    }
}

.parents__started {
  padding: 4.1rem 6.25rem;
  background: var(--primary-color);

  p {
    font-size: 2rem;
    color: var(--white-color);
    text-align: center;
    width: 56.563rem;
    line-height: 2.5rem;
    margin-bottom: 2.5rem;
  }

  button {
    width: 10.4rem;
    height: 3.875rem;
  }
}
