.activities {
  width: 100%;
  justify-content: space-between !important;
}

.activities_main {
  width: 60.6%;
  //   border: 1px solid red;

  h1 {
    margin-bottom: 40px;
  }

  .swiper_component {
    width: 100%;
    padding: 0;
    margin: 0;
    // border: 1px solid red;
    margin-bottom: 30px;

    // .swiper-pagination-bullet {
    //   width: 20px !important;
    //   height: 7px;
    //   border-radius: 4px;
    //   opacity: 1;
    //   background-color: #999595 !important;
    // }
    .swipes {
      margin-bottom: 46px;
    }

    // .swiper-pagination-bullet-active {
    //   width: 82px;
    // }
  }

  .eventCard {
    width: 100%;
    height: 199px;
    background: linear-gradient(135deg, #43cbff 0%, #9708cc 100%);
    border-radius: 8px;
    padding: 28px 59px 14px;
    position: relative;

    .eventCard_content {
      width: 65%;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      gap: 0;
      p,
      a {
        background-color: var(--white-color);
        width: 93px;
        height: 20px;
        font-size: 8px;
        font-weight: 600;
        color: var(--deep-black);
        border-radius: 100px;
        // margin-bottom: 8px;
      }

      h2 {
        color: var(--white-color);
        text-shadow: 0 0 2px #579bf280;
        font-size: 44px;
        font-weight: 700;
        margin: 0;
        height: 39px;
      }

      span {
        all: unset;
        height: 54px;
        font-weight: 600;
        font-size: 52px;
        margin: 0;
        color: var(--white-color);
        text-shadow: 0 0 2px #579bf280;
        margin-left: auto;
      }

      a {
        margin-left: auto;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }

    .eventcard_Img {
      position: absolute;
      right: 9px;
      bottom: 0;

      width: 203px;
      height: 228px;
    }
  }

  .activitiesTable {
    width: 100%;
    h3 {
      margin-bottom: 20px;
    }

    .tableContent {
      width: 100%;
      height: 434px;
      background: var(--white-color);
      box-shadow: 0px 4px 20px rgba(191, 191, 191, 0.16);
      border-radius: 8px;

      .tableHeader {
        justify-content: flex-start;
        gap: 20px;
        margin-bottom: 10px;

        .active {
          color: var(--primary-color) !important;
          border-bottom: 1px solid var(--primary-color);
          font-weight: 600;
        }

        button {
          all: unset;
          padding: 0 26.5px 8px;
          // border: 1px solid blue;
          font-size: 16px;
          font-weight: 400;
          color: #7c7c7c;
          cursor: pointer;
        }
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0 0.25rem;
        background: #eaeaea;
  
        tr {
          background-color: #ffffff;
        }
  
        .green {
          color: #10ad76 !important;
        }
  
        .pending {
          color: #ce9500;
        }
  
        .red {
          color: #e0240a;
        }
      }

      button {
        font-size: 16px;
        margin-top: 64px;
        margin-right: 20px;
        float: right;
      }
    }

    
  }
}

.activities_side {
  width: 34.5%;

  .leaderBoard {
    margin-top: 61px;
    h3 {
      margin-bottom: 20px;
    }

    .leaderBoardActivities {
      width: 100%;
      height: 434px;
      background: var(--white-color);
      box-shadow: 0px 4px 20px rgba(191, 191, 191, 0.16);
      border-radius: 8px;
      padding: 16px 8px 20px;

      button {
        float: right;
        margin-top: 42px;
        font-size: 16px;
      }

      .activitiesCard {
        width: 100%;
        height: 76px;
        background: #fafafa;
        box-shadow: 0px 4px 20px rgba(238, 238, 238, 0.16);
        border-radius: 4px;
        padding: 0 8px;
        margin-bottom: 8px;

        p {
          color: var(--primary-color);
          font-size: 12px;
          font-weight: 700;
        }

        .activityUser {
          gap: 12px;

          p {
            color: var(--deep-black);
            font-weight: 600;
            font-size: 20px;
          }
        }

        .activityImg {
          width: 44px;
          height: 44px;
          border-radius: 50%;
        }
      }
    }
  }
}
