
.dashboard__nav {
    width: 100%;
    max-height: 6.25rem;
    padding: 2rem 2.6% 2rem 4.5%;
    box-shadow: 0px 4px 1.25rem rgba(225, 225, 225, 0.24);
    z-index: 10;
  
    h3 {
      font-weight: 700;
      font-size: 1.75rem;
      color: var(--black-color);
      margin-right: 9%;
    }
  
    .dashboard__nav-search {
      width: 40%;
      height: 3.25rem;
      position: relative;
  
      input {
        width: 100%;
        height: 100%;
        padding: 0 12%;
        border: 1px solid #a1a1a1;
        border-radius: 0.75rem;
        outline: none;
  
        &::placeholder {
          color: #8c8b8b;
          font-weight: 600;
          font-size: 1rem;
        }
      }
  
      svg {
        color: #8c8b8b;
        width: 1.25rem;
        height: 1.25rem;
        position: absolute;
        left: 4%;
        top: 50%;
        bottom: 50%;
        transform: translateY(-50%);
      }
    }
  
    svg {
      color: var(--black-color);
      width: 1.5rem;
      height: 1.5rem;
    }
  
    .dashboard__nav-selector {
      width: 16%;
  
      select {
        width: 100%;
        border: none;
        outline: none;
        margin: 0;
        font-size: 1rem;
        color: var(--deep-black);
        font-weight: 400;
  
        option {
          margin-right: 0.625rem;
        }
      }
    }
  
    .dashboard__nav-user {
      width: 4rem;
      height: 4rem;
    }
  }

  @media screen and (max-width: 1200px) {
    .dashboard__nav {
      h3 {
        margin-right: 4%;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    .dashboard__nav {
      padding: 2rem 1% 2rem 2%;
      h3 {
        margin-right: 2%;
      }
  
      .dashboard__nav-user {
        width: 44px;
        height: 44px;
      }
    }
}