.container {
    width: 100%;
    background: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }
}