@use '../../scss/global/colors' as colors;
@use '../../scss/utils/functions' as fn;
@import '../../scss/utils/breakpoints';
@import '../../scss/utils/mixins';

.container {
    width: 100%;
    background: #ffffff;
    height: 100vh;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  
    &::-webkit-scrollbar {
      display: none;
    }
    
  // SCREENS 1400px and LARGER
  @media only screen and (min-width: 1240px) {
    width: 100%;
    max-width: fn.rem(1248);
    margin: auto;
  }
}

.containerBody {
  padding: 2rem 2.6% 4rem 4.5%;
}