.dashboard {
  width: 100%;
  background: #ffffff;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}


.dashboard__body {
  width: 100%;
  padding: 2rem 2.6% 4rem 4.5%;
  gap: 6%;
}

.dashboard__body-main {
  width: 64%;

  .assessment {
    width: 100%;
    margin-bottom: 6.25rem;

    .assessment-head {
      margin-bottom: 2.313rem;

      h1,
      h2 {
        font-weight: 700;
        font-size: 1.5rem;
        color: var(--black-color);
      }
    }

    .assessment-card {
      gap: 0.75rem;
    }
  }

  .assignment {
    .assignment-head {
      margin-bottom: 2rem;
      h3 {
        font-size: 1.5rem;
        font-weight: 700;
        color: var(--black-color);
      }
    }
    .assignment-table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0 0.25rem;
      color: var(--black-color);

      & > tr {
        background: #ffffff;
        box-shadow: 0px 4px 1.25rem rgba(174, 173, 173, 0.16);
      }

      & > tr:nth-child(1) {
        box-shadow: none;
        margin-bottom: 20px;
      }

      td {
        padding: 1.25rem 0;
        text-align: center;
        height: 100px;
      }

      .title {
        text-align: left;
        max-width: 70px;
        padding-left: 1.25rem;

        .title-head {
          font-weight: 700;
          font-size: 1rem;
        }

        .title-date {
          font-weight: 600;
          font-size: 1rem;
        }
      }

      .table-grade {
        font-size: 1.25rem;
        font-weight: 600;
      }

      .completed,
      .pending {
        font-weight: 400;
        font-size: 1rem;
      }

      .completed {
        color: #00915e;
      }

      .pending {
        color: #e4b100;
      }
    }
  }
}

.dashboard__body-side {
  width: 30%;

  .dashboard-calender {
    width: 100%;
    margin-bottom: 1.5rem;

    h3 {
      font-size: 1.5rem;
      font-weight: 700;
      color: var(--black-color);
      margin-bottom: 2rem;
    }

    .calendar {
      width: 100%;
      height: 15.688rem;
      border: 1px solid red;
    }
  }

  .dashboard-events {
    width: 100%;
    h3 {
      margin-bottom: 1.25rem;
    }

    .event-card {
      background: var(--white-color);
      width: 100%;
      height: 74px;
      max-height: 74px;
      box-shadow: 0px 0.5rem 1.25rem rgba(174, 173, 173, 0.16);
      border-radius: 0.5rem;

      justify-content: flex-start;
      gap: 0.938rem;
      padding: 0.625rem 0.563rem;
      margin-bottom: 0.25rem;

      .event-date {
        width: 3.813rem;
        height: 3.375rem;
        border-radius: 0.5rem;

        color: var(--white-color);
        font-weight: 600;
        font-size: 1rem;
        line-height: 1.25rem;
      }

      .event-info {
        p {
          color: #2E2E2E;
          font-weight: 500;
          font-size: 1rem;
        }

        span {
          color: #7E7E7E;
          font-size: 0.875rem;
          font-weight: 400;
        }
      }
    }

    button {
      width: 8.938rem;
      height: 2.5rem;
      margin-top: 1.188rem;
      font-size: 1rem;
    }
  }
}


@media screen and (max-width: 1200px) {
  // .dashboard__nav {
  //   h3 {
  //     margin-right: 4%;
  //   }
  // }
}

@media screen and (max-width: 1024px) {
  // .dashboard__nav {
  //   padding: 2rem 1% 2rem 2%;
  //   h3 {
  //     margin-right: 2%;
  //   }

  //   .dashboard__nav-user {
  //     width: 44px;
  //     height: 44px;
  //   }
  // }

  .dashboard__body {
    width: 100%;
    padding: 2rem 1% 4rem 2%;
    gap: 2%;
  }

  .dashboard__body-main {
    width: 58%;

   .assessment {
    .assessment-card {
      flex-direction: column;
    }
    }
  }

  .dashboard__body-side {
    width: 40%;
  }
}