.signIn {
  width: 100%;
  background: var(--white-color);
}



@media screen and (max-width: 1100px) {
  .signIn {
    height: 100vh;
  }
  .auth__img  {
    width: 50%;
    height: 100vh;
  }
}

@media screen and (max-width: 768px) {
  .auth__img {
    display: none !important;
  }

  .auth__form  {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .signIn {
    height: 100vh;
    padding: 0 0.5rem;
  }
  .auth__form {
    width: 100%;
    .form-inputs {
      width: 90%;
    }
  }
}
