.studentDashboard {
  width: 100%;
  background: #ffffff;
  height: 100vh;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  &::-webkit-scrollbar {
    display: none;
  }
}

.studentDashboard__body {
  width: 100%;
  padding: 2rem 2.6% 4rem 4.5%;
  gap: 6%;
}

.studentDashboard__body-main {
  width: 64%;

  h2 {
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 20px;
  }

  .main_progress {
    color: var(--black-color);
  }
}

.studentDashboard__body-side {
  width: 30%;
}
