.footer {
  background-color: #fafafa;
  padding: 0.875rem 6.25rem;
  justify-content: space-between !important;

  .footer-logo {
    width: 72px;
    height: 82px;
  }


  p {
    font-weight: 800;
    padding-bottom: 1.25rem;
  }
  ul {
    li {
      color: #131313;
      font-size: 1.25rem;
      font-weight: 400;
      margin-bottom: 24px;
    }
  }
  .icons {
    gap: 1.25rem;
    svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
hr {
  color: #E0E0E0;
  width: 0.2px;
}
h6 {
  background-color: #fafafa;
  text-align: center;
  padding: 10px 0;
}

// ..................media query.......................
@media screen and (max-width: 1200px) { 
  .footer {
    padding: 0.775rem 1rem;
    gap: 20px;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding: 0.775rem 1rem;
    gap: 1.25rem;
    flex-wrap: wrap;
    justify-content: center !important;
    align-items: center !important;
    border-radius: 1px solid red;
  }
}
