.results__body {
    padding: 2rem 2.6% 4rem 4.5%;

    .results__body-header {
      width: 100%;
      color: var(--black-color);
      margin-bottom: 52px;
      h3 {
        span {
          font-size: 1.75rem;
        }
      }
    }
  
  
    .results__body-selctor {
      width: 100%;
      margin-bottom: 31px;
    }
  
    .results__body-result {
      width: 100%;
  
      .result-table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0 0.25rem;
        background: #EAEAEA;
        box-shadow: 0px 4px 20px rgba(173, 173, 173, 0.16);
        border-radius: 0px 8px 8px 8px;
  
        td,
        th {
          padding: 20px 0;
          border-bottom: 1px solid #EAEAEA;
        }
  
        th {
          font-weight: 600;
          font-size: 1.25rem;
          color: var(--black-color);
        }
  
        td {
          text-align: center;
          font-weight: 400;
          font-size: 1.25rem;
          color: #4B4B4B;
        }
  
        tbody:last-of-type{
          border-bottom: unset;
        }
  
         tr {
          background-color: #ffffff;
        }
  
        .result-first {
          text-align: left;
          width: 30%;
          padding-left: 40px;
        }
  
        .items {
          .result-first {
              color: var(--deep-black);
          }
  
          .green {
              color: #10AD76;
          }
  
          .yellow {
              color: #CE9500;
          }
        }
      }
  
      .result-conclusion {
          width: 100%;
          margin-top: 44px;
          margin-bottom: 56px;
  
          tr {
              font-weight: 400;
              font-size: 24px;
              color: var(--deep-black);
          }
  
          th {
              text-align: center;
          }
  
          .green {
              color: #10AD76;
          }
  
          .result-first {
          text-align: left;
          width: 30%;
          padding-left: 40px;
        }
      }
    }
  }