@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Nunito Sans";
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0;
  overflow-x: hidden;
}

:root {
  --primary-color: #0d1292;
  --secondary-color: #6767A1;
  --black-color: #131313;
  --secondary-black-color: #434343;
  --deep-black: #000000;
  --white-color: #ffffff;
}
