.portal__body {
  width: 100%;
  padding: 2rem 2.6% 4rem 4.5%;
  gap: 6%;
}

.portal__body-main {
  width: 64%;

  .time-table {
    margin-top: 52px;
    margin-bottom: 52px;

    h3 {
      margin-bottom: 12px;
    }

    .table-body {
      background: #f4f5ff;
      width: 100%;
      height: 222px;
      border-radius: 8px;
      padding: 20px;

      span {
        color: var(--deep-black);
      }

      .body_schedule {
        text-align: center;
        margin-top: 34px;
        margin-bottom: 30px;

        p {
          margin-bottom: 12px;
        }
      }
    }
  }

  .subject_material {
    width: 100%;
    gap: 17px;
    margin-top: 15px;
  }
}

.portal__body-side {
  width: 30%;
}
