
.library__body {
  .library__body-cards {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
    overflow-x: hidden;

    .library-card {
      min-width: 246px;
      width: 246px;
      height: 377px;
      font-size: 20px;

      .subject-img {
        width: 100%;
        height: 271px;
        border: 1px solid red;
        margin-bottom: 20px;
      }

      h6 {
        all: unset;
        color: var(--black-color);
        font-weight: 700;
        margin-bottom: 4px;
      }

      p,
      span {
        font-weight: 600;
        color: #5d5d5d;
        margin-bottom: 4px;
      }
    }
  }

  .library__body-btn {
    width: 100%;
    margin-top: 40px;

    button {
      width: 144px;
      height: 48px;
    }
  }
}
