.faq {
    padding: 3rem 6.25rem; 
  
    h1 {
      text-align: center;
      font-weight: 800;
    }
  
    .faq__content {
      padding: 20px 0;
      margin-bottom: 40px;
  
      .faq__content-main {
        width: 50%;
  
        .content {
          margin: 40px 0;
  
          h3 {
            font-weight: 800;
            font-size: 22px;
          }
        }
        .icon {
          gap: 15px;
        }
      }
      .faq__img-container {
        padding: 50px;
        position: relative;
  
        .faq__img {
          width: 30rem;
          height: 30rem;
  
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
          }
  
          .circle {
            width: 180px;
            height: 180px;
            border-radius: 100%;
            background: #fce300;
            position: absolute;
            top: -40px;
            right: 70px;
            z-index: -1;
          }
          .circle2 {
            width: 150px;
            height: 150px;
            border-radius: 100%;
            background: #b1b1d8;
            position: absolute;
            top: -10px;
            right: 170px;
            z-index: -1;
          }
          .circle3 {
            width: 180px;
            height: 180px;
            border-radius: 100%;
            background: #b1b1d8;
            position: absolute;
            bottom: -10px;
            left: 50px;
            z-index: -1;
          }
          .curve {
            position: absolute;
            right: 50px;
            bottom: -15px;
          }
        }
      }
    }
  }