@use '../../../scss/global/colors' as colors;
@use '../../../scss/utils/functions' as fn;
@import '../../../scss/utils/breakpoints';
@import '../../../scss/utils/mixins';


.selector {
  display: flex;
  flex-direction: column;
  gap: fn.rem(12);
  
  p {
    color: colors.$text-dark;
  }
  
  @include breakpoint-up('md') {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
}

.selectMenu {
  border: 1px solid #d1d1d1;
  border-radius: fn.rem(8);
  outline: none;
  position: relative;
}

.selectMenu .selectBtn {
  all: unset;
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-size: fn.rem(14);
  font-weight: 400;
  color: colors.$header-dark;
  align-items: center;
  cursor: pointer;
}

.selectBtn svg {
  font-size: fn.rem(14);
  transition: 0.3s;
}

.rotateUp {
  transform: rotate(-180deg);
}

.options {
  width: 200%;
  position: absolute;
  padding: fn.rem(14) 0;
  margin-top: fn.rem(30);
  margin-left: 0;
  border-radius: fn.rem(8);
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  left: 0;
  z-index: 5;

  @include breakpoint-up('lg') {
    width: 100% !important;
  }
}

.option {
  display: flex;
  height: fn.rem(55);
  cursor: pointer;
  padding: fn.rem(14) fn.rem(16);
  align-items: center;
  width: 100%;
  font-size: fn.rem(14);

  &:hover {
    background-color: colors.$color-secondary;
  }
}
