.selector {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: var(--black-color);
  }
}

.selectMenu {
  border: 1px solid #d1d1d1;
  border-radius: 8px;
  outline: none;
  position: relative;
}

.selectMenu .selectBtn {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  color: var(--deep-black);
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
}

.selectBtn svg {
  font-size: 14px;
  transition: 0.3s;
}

.rotateUp {
  transform: rotate(-180deg);
}

.options {
  position: absolute;
  margin-top: 30px;
  margin-left: 0;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  left: 0;
  z-index: 5;
}

.option {
  display: flex;
  height: 55px;
  cursor: pointer;
  padding: 14px 16px;
  align-items: center;
  width: 100%;
  font-size: 14px;

  &:hover {
    background-color: #353aa4;
  }
}
